h1 {
    text-align: center;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 95px;
}

h2 {
    text-align: center;
    font-family: 'Source Han Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 116px;

}

// ------about------
.about-box1,
.about-box2 {
    margin: 0 200px;
}

.about-coment {
    display: flex;
    justify-content: space-between;



}

.about-title {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    flex-flow: column;
}

.about-income {
    font-family: 'ABeeZee';
    font-style: normal;
    // font-weight: 400;
    // font-size: 40px;
    line-height: 47px;
    flex-direction: column;

}

//------Sponser-----
.sponser-containar {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
        // height: 100px;
        // width: 200px;
    }

    .kaeru {
        width: 500px;
        height: 420px;
        margin: 0 auto;
        padding: 50px 0 20px;
    }

    p {
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 47px;
    }
}

//-----Servce-----

.ser{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}
.servce-container{
    border: 2px solid #9067E9; //
    width: 30%;
    
    
    .servce-text1{
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.03em;
    }
    .servce-text2{
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.03em;
    }

}



// -----footer-----
footer {
    text-align: center;
    color: white;
    background-color: black;
    border: 1.43px solid #000000;
    padding: 30px;
}