/* Livers Wallの画像 */
/* #wall {
    height: 100vh;
    width: 100%;
    background-image: url(./img/kv_pc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.kv1 {
    background-image: url(./img/kv03.jpg);
    width: 360px;
    height: 224px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kv2 {
    background-image: url(./img/kv_02_pc.jpg);
    width: 360px;
    height: 538px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kv3 {
    background-image: url(./img/kv01.jpg);
    width: 360px;
    height: 538px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kv4 {
    background-image: url(./img/kv_04.jpg);
    width: 360px;
    height: 224px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*アニメーション要素のスタイル*/
.animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* 右からででくるアニメーション */
.fadeIn_right {
    opacity: 0;
    transform: translate(50%, 0);
    transition: 2s;
}

.fadeIn_right.is-show {
    transform: translate(0, 0);
    opacity: 1;
}

/* 左から出てくるアニメーション */
.fadeIn_left {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: 2s;
}

.fadeIn_left.is-show {
    transform: translate(0, 0);
    opacity: 1;
}