// Livers Wall
// ヘッダー&kv
// ヘッダー
.header {
  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    padding: 10px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 63px;
    color: #000000;
  }
}

// kv
#wall {
  img {
    position: absolute;
  }

  .kv-wall {
    display: flex;
    justify-content: space-between;
  }

  .kv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .kv-text1 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 69px;
    color: #000000;
  }

  .kv-title {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 148px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .kv-text2 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    letter-spacing: -0.03em;
    color: #000000;
  }
}

// petlivers
  #livers {
    margin-top: 80px;
  }

.livers-backcolor {
  background-color: #000000;
  height: 1000px;
  width: 100%;
}

.pet-livers {
  // background-color: #000000;
  height: 100vh;
  width: 1170px;
  margin: 0 auto;
  // width: 2000px;
  // height: 1350px;

  .pet{
    background-color: white;
    width: 24%;
    height: 50vh;
    margin-right: 5px;
  }

  ul {
    display: flex;
    // justify-content: center;
    padding-top: 50px;
  }
  picture{
    background-color: white;
    padding: 10px 5px 100px;
  }
}