// レスポンシブ
@mixin sp-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}



// Livers Wall
// ヘッダー&kv
// ヘッダー
.header {

  @include sp-screen {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    /* Q7 */

    .hamburger {
      // position: relative;
      // z-index: 3;
      // right: 20px;
      width: 28px;
      height: 30px;
      // margin: 30px auto 10px;
      margin-right: 10px;
      margin-left: auto;
    }

    .hamburger span:after,
    .hamburger span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }

    .hamburger span:after {
      top: 9px;
    }

    .hamburger span {
      position: relative;
      display: block;
      top: 15px;
    }

    .hamburger span,
    .hamburger span:after,
    .hamburger span:before {
      width: 100%;
      height: 5px;
      background-color: white;
      transition: all 0.5s;
      /*←アニメーション*/
      backface-visibility: hidden;
      border-radius: 2px;
    }

    .hamburger.on span {
      background-color: transparent;
    }

    .hamburger.on span:before {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.on span:after {
      transform: rotate(-45deg) translate(7px, -8px);
    }
  }


  nav{
    @include sp-screen{
      // overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;


    li {
      @include sp-screen {
        color: white;
        font-size: 12px;
        line-height: 0;
        padding: 18px 20px;
      }
    }

    @include sp-screen {
      display: block;
      background-color: #173d7e;
      width: 28%;
      text-align: center;
      padding: 150px 0;
      position: absolute;
      right: -222px;
      // position: fixed;
      z-index: 2;

      &.hide {
        z-index: 2;
        right: 0;
        // transform: translateX(-300px);
        /* transform: translateY(-500px); */
        /* transform: translateZ(500px); */
        /* transform: translateX(100vw); */
      }

      // transform: translateX(0);
      transition: all 1s ease;
    }
  }


  li {
    padding: 10px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 63px;
    color: #000000;

    @include sp-screen {
      padding: 0;
    }

  }

}


// kv

#wall {
  position: relative;

  img {
    position: absolute;
    top: 70px;

    @include sp-screen {
      top: 210px;
      z-index: 0;
    }
  }

  .kv-wall {
    display: flex;
    justify-content: space-between;

    @include sp-screen {
      display: block;
    }
  }

  .kv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    @include sp-screen {
      position: relative;
      text-align: center;
      padding: 17px 0 90px;
    }
  }

  .kv-text1 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    line-height: 69px;
    padding: 0 0 10px;

    @include sp-screen {
      font-size: 22px;
    }
  }

  .kv-text2 {
    @extend .kv-text1;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 0 15px;

    @include sp-screen {
      font-size: 22px;
    }
  }

  .kv-title {
    @extend .kv-text1;
    font-size: 75px;
    line-height: 1;
    letter-spacing: -0.02em;

    @include sp-screen {
      font-size: 55px;
    }
  }

  .kv-text3 {
    @extend .kv-text1;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    padding: 15px 0 0;

    @include sp-screen {
      font-size: 22px;
    }
  }
}

.left-wall {
  @include sp-screen {
    display: flex;
    flex-direction: row-reverse;
    z-index: -2;
  }

  p {
    margin-bottom: 10px;
    margin-left: 30px;

    @include sp-screen {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.right-wall {
  @include sp-screen {
    display: flex;
  }

  p {
    margin-bottom: 10px;
    margin-right: 30px;

    @include sp-screen {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

// petlivers
#livers {
  margin: 50px 0 20px;
}

.livers-backcolor {
  background-color: #000000;
  width: 100%;
  border: solid 1px white;
  // margin: 0 auto;
}

.pet-livers {
  // background-color: #000000;
  // height: 100vh;
  width: 1170px;
  margin: 0 auto;
  position: relative;
  // width: 2000px;
  // height: 1350px;

  @include sp-screen {
    width: 100%;
  }

  .pet1 {
    background-color: white;
    width: 23%;
    height: 55vh;
    border: 3.79px solid #EA5555;
    // margin-top: 20px;

    @include sp-screen {
      width: 60%;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 30px
    }
  }

  .pet2 {
    @extend .pet1;
    border: 4.42px solid #A817FB;
    // margin-top: 20px;

  }

  .pet3 {
    @extend .pet1;
    border: 3.15px solid #F0C83B;
    // margin-top: 20px;
  }

  .pet4 {
    @extend .pet1;
    border: 3.79px solid #E16A6E;
    // margin-top: 20px;
  }

  .pet5 {
    @extend .pet1;
    border: 3.15px solid #ED61F6;
    // margin-top: 20px;
  }

  .pet6 {
    @extend .pet1;
    border: 3.79px solid #52F1BF;
    // margin-top: 20px;
  }

  .pet7 {
    @extend .pet1;
    border: 3.79px solid #55B0EA;
    // margin-top: 20px;
  }

  .pet8 {
    @extend .pet1;
    border: 3.79px solid #FFB017;
    // margin-top: 20px;
  }

  ul {
    margin: 55px 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    row-gap: 20px;
    column-gap: 15px;

    @include sp-screen {
      flex-direction: column;
      // align-items: center;
    }
  }

  // picture{
  //   margin: 0 auto;
  //   position: absolute;
  //   top: -10px;
  //   left: 10px;
  // }

  img {
    margin: 20px 10px 0;
    // margin: 0 auto;
    width: 95%;
    height: 60%;

    @include sp-screen {
      padding: 10px 15px 0;
    }
  }

  .livers-content {
    margin: 10px 20px;
  }

  .liver-title {
    // position: absolute;
    // top: 290px;
    // left: 30px;
    font-size: 14px;

    @include sp-screen{
      font-size: 25px;
    }
  }

  h3 {
    // position: absolute;
    // top: 320px;
    // left: 30px;
    font-size: 25px;
    padding: 5px 0;

    @include sp-screen{
      font-size: 34px;
    }
  }

  .liver-text {
    // position: absolute;
    // top: 360px;
    // left: 30px;
    font-size: 14px;

    @include sp-screen{
      font-size: 23px;
    }
  }

  // .liver-text{
  //   position: absolute;
  //   top: ;
  // }
}

.br-sp {
  @include sp-screen {
    display: none;
  }
}


// Contact
.contact-all {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  @include sp-screen {
    flex-direction: column;
    // align-items: center;
    width: 100%;
    // margin-left: 50px;
    padding-left: 95px;
  }

  h4 {
    font-family: 'Source Han Sans JP';
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    // border-bottom: solid 3px yellow;
    text-align: center;
  }

  p {
    margin-bottom: 20px;
    font-size: 13px;
  }
}

.contact-left {
  width: 50%;

  @include sp-screen {
    width: 75%;
  }

  form {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 15px;
      font-size: 20px;
    }

    input {
      margin-bottom: 15px;
      height: 40px;

      @include sp-screen {
        width: 100%;
      }
    }

    textarea {
      margin-bottom: 15px;

      @include sp-screen {
        width: 100%;
      }
    }

  }

  u {
    background: linear-gradient(transparent 80%, #FFFF00 0%);
    padding: 0 10px;
  }

  input {
    border: solid 1px black;
    width: 80%;
  }

  textarea {
    border: solid 1px black;
    width: 80%;
  }

  button {
    background-color: #000000;
    width: 80%;
    padding: 20px;
    color: white;
    text-align: center;

    @include sp-screen {
      width: 100%;
    }
  }
}

.line {
  margin: 0 3rem;
  width: 2px;
  background-color: #000;

  @include sp-screen {
    width: 75%;
    height: 2px;
    margin: 30px 0;
  }
}

.contact-right {
  width: 50%;

  @include sp-screen {
    width: 75%;
  }

  picture {
    display: flex;
    align-items: center;
    margin: 180px 0;
    // margin-left: auto;
    width: 70%;
  }

  p {
    @include sp-screen {
      text-align: justify;
    }
  }

  u {
    background: linear-gradient(transparent 80%, #039c00 0%);
    padding: 0 10px;
  }
}


// Company
.company-all {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  margin-bottom: 200px;

  @include sp-screen {
    flex-direction: column;
    // align-items: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}

.company-left {
  h4 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 10px;

    @include sp-screen{
      font-size: 50px;
    }
  }

  .company-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .company-text {
    font-size: 25px;

    @include sp-screen {
      margin-bottom: 100px;
      font-size: 20px;
    }
  }
}