h1 {
  text-align: center;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 95px;
  margin: 50px 0 20px;
}

h2 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 116px;
  margin: 50px 0 20px;
}

#about-section {
  position: relative;
}

#about-section .about-background {
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  #about-section .about-background {
    display: none;
  }
}

#about-section .back1 {
  width: 17.1%;
  height: auto;
}

#about-section .back2 {
  width: 9%;
  height: auto;
  top: 145px;
  right: 80px;
  transform: rotate(15deg);
}

#about-section .back3 {
  width: 9.8%;
  height: auto;
  top: 490px;
  left: 100px;
}

#about-section .back4 {
  width: 16.45%;
  height: auto;
  top: 285px;
  right: 0;
}

#about-section .back5 {
  width: 10.5%;
  height: auto;
  top: 840px;
  left: 110px;
}

#about-section .back6 {
  width: 5.8%;
  height: auto;
  top: 800px;
  right: 100px;
}

.about-container {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about-container {
    width: 100%;
  }
}

.about-container #kokujinnsyojo .about-text {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .about-container #kokujinnsyojo .about-text {
    flex-direction: column-reverse;
  }
}

.about-container .about-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .about-container .about-text {
    flex-direction: column-reverse;
  }
}

.about-container .about-box1,
.about-container .about-box2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .about-container .about-box1 .about-coment,
  .about-container .about-box2 .about-coment {
    background: repeating-linear-gradient(-45deg, #ebebeb, #ebebeb 10px, #ffffff 10px, #ffffff 25px);
    margin-top: 40px;
  }
}

.about-container .about-box1 .about-coment .about-title,
.about-container .about-box2 .about-coment .about-title {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 59px;
  flex-flow: column;
}

.about-container .about-box1 .about-coment .about-income,
.about-container .about-box2 .about-coment .about-income {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 47px;
  flex-direction: column;
  line-height: 1.2em;
}

.about-container .about-box1 .about-coment .location-about,
.about-container .about-box2 .about-coment .location-about {
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .about-container .about-box1 .about-coment .location-about,
  .about-container .about-box2 .about-coment .location-about {
    margin-left: 0;
  }
}

.about-container .about-box1 .about-coment .location-customer,
.about-container .about-box2 .about-coment .location-customer {
  margin-right: 70px;
}

@media screen and (max-width: 767px) {
  .about-container .about-box1 .about-coment .location-customer,
  .about-container .about-box2 .about-coment .location-customer {
    margin-right: 0;
  }
}

.about-container .about-box1 .about-img1,
.about-container .about-box2 .about-img1 {
  width: 320px;
  height: 430px;
  box-shadow: 15px 12px 1px 1px #F9C83B;
}

.about-container .about-box1 .about-img2,
.about-container .about-box2 .about-img2 {
  width: 320px;
  height: 430px;
  box-shadow: -15px 12px 1px 1px #FFF835;
}

.sponser-containar {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .sponser-containar {
    width: 100%;
  }
}

.sponser-containar .logo {
  width: 90.5%;
  margin: 0 auto;
}

.sponser-containar .kaeru {
  width: 435px;
  height: 420px;
  margin: 0 auto;
  padding: 50px 0 20px;
}

.sponser-containar p {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
}

.ser {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .ser {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.servce-container {
  border: 2px solid #9067E9;
  width: 29.5%;
  margin-left: 30px;
  padding: 50px 15px 30px 30px;
  box-shadow: 12px 12px 1px 1px #9067E9;
}

@media screen and (max-width: 767px) {
  .servce-container {
    margin: 0;
    margin-bottom: 30px;
    width: 80%;
  }
}

.servce-pic {
  width: 120px;
  margin: 10px;
}

.servce-text1 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: -0.03em;
  margin-left: 10px;
}

.servce-text2 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
  line-height: 1.2em;
}

.s1 {
  margin: 0 0 40px 10px;
}

.s2 {
  margin: 0 0 40px 10px;
}

.s3 {
  margin: 0 0 0 10px;
}

.s4 {
  margin: 0 0 22px 10px;
}

.s5 {
  margin: 0 0 78px 10px;
}

.s6 {
  margin: 0 0 0 10px;
}

.s7 {
  margin: 0 0 22px 10px;
}

.s8 {
  margin: 0 0 28px 10px;
}

.s9 {
  margin: 0 0 0 10px;
}

#customer {
  position: relative;
}

#customer .voice-background {
  position: absolute;
}

#customer .some1 {
  width: 9.55%;
  height: auto;
  top: 130px;
  left: 50px;
}

@media screen and (max-width: 767px) {
  #customer .some1 {
    display: none;
  }
}

#customer .some2 {
  width: 21.45%;
  height: auto;
  top: 110px;
  right: 0;
}

@media screen and (max-width: 767px) {
  #customer .some2 {
    display: none;
  }
}

#customer .some3 {
  width: 26.85%;
  height: auto;
  top: 400px;
}

@media screen and (max-width: 767px) {
  #customer .some3 {
    display: none;
  }
}

#customer .some4 {
  width: 13.55%;
  height: auto;
  top: 620px;
  right: 30px;
}

@media screen and (max-width: 767px) {
  #customer .some4 {
    display: none;
  }
}

.boi {
  display: flex;
  width: 1170px;
  margin: 60px auto 0;
  padding: 0 40px 0 100px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .boi {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.boi img {
  width: 460px;
  box-shadow: -25px 15px 1px 1px #e7afc3;
}

@media screen and (max-width: 767px) {
  .boi img {
    width: 330px;
  }
}

.voice-text {
  margin: 0 20px 0 100px;
}

@media screen and (max-width: 767px) {
  .voice-text {
    margin: 50px 0;
    background-image: radial-gradient(#ebebeb 7px, transparent 2px), radial-gradient(#ebebeb 7px, #ffffff 2px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }
}

.voice-come1 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 10px;
}

.voice-come2 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 59px;
  line-height: 1.3;
}

.voice-come3 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 767px) {
  .voice-come3 .br-sp {
    display: none;
  }
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  border: 1.43px solid #000000;
  padding: 25px;
}
/*# sourceMappingURL=rika.css.map */