h1 {
  text-align: center;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 95px;
  margin: 50px 0 20px;
}

h2 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 116px;
  margin: 50px 0 20px;
}

#about-section {
  position: relative;
}

#about-section .about-background {
  position: absolute;
  z-index: 1;
}

#about-section .back1 {
  width: 15.1%;
  height: auto;
}

#about-section .back2 {
  width: 9%;
  height: auto;
  top: 150px;
  right: 65px;
  transform: rotate(10deg);
}

#about-section .back3 {
  width: 8.8%;
  height: auto;
  top: 470px;
  left: 100px;
}

#about-section .back4 {
  width: 17.45%;
  height: auto;
  top: 300px;
  right: 0;
}

#about-section .back5 {
  width: 8.5%;
  height: auto;
  top: 900px;
  left: 130px;
}

#about-section .back6 {
  top: 800px;
  right: 100px;
}

.about-container {
  width: 1170px;
  margin: 0 auto;
}

.about-container .about-box1,
.about-container .about-box2 {
  margin-bottom: 20px;
}

.about-container .about-box1 .about-text,
.about-container .about-box2 .about-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-container .about-box1 .about-text .about-coment .about-title,
.about-container .about-box2 .about-text .about-coment .about-title {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 59px;
  flex-flow: column;
}

.about-container .about-box1 .about-text .about-coment .about-income,
.about-container .about-box2 .about-text .about-coment .about-income {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 47px;
  flex-direction: column;
  line-height: 1.2em;
}

.about-container .about-box1 .about-text .about-coment .location-about,
.about-container .about-box2 .about-text .about-coment .location-about {
  margin-left: 70px;
}

.about-container .about-box1 .about-text .about-coment .location-customer,
.about-container .about-box2 .about-text .about-coment .location-customer {
  margin-right: 70px;
}

.about-container .about-box1 .about-text .about-img,
.about-container .about-box2 .about-text .about-img {
  width: 320px;
  height: 430px;
  box-shadow: 12px 12px 2px 1px yellow;
}

.sponser-containar {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sponser-containar .logo {
  width: 90.5%;
  margin: 0 auto;
}

.sponser-containar .kaeru {
  width: 435px;
  height: 420px;
  margin: 0 auto;
  padding: 50px 0 20px;
}

.sponser-containar p {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
}

.ser {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.servce-container {
  border: 2px solid #9067E9;
  width: 31.5%;
  margin-left: auto;
  padding: 50px 30px;
  box-shadow: 12px 12px 2px 1px #9067E9;
}

.servce-container .servce-box1 {
  margin: 0 0 0 10px;
}

.servce-container .servce-pic {
  width: 120px;
  margin: 10px;
}

.servce-container .servce-text1 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: -0.03em;
  margin-left: 10px;
}

.servce-container .servce-text2 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
  margin: 0 0 40px 10px;
  line-height: 1.2em;
}

.boi {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.voice-text {
  margin: 0 20px 0 100px;
}

.voice-come1 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
}

.voice-come2 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 59px;
}

.voice-come3 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 43px;
  letter-spacing: -0.03em;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  border: 1.43px solid #000000;
  padding: 30px;
}
/*# sourceMappingURL=rika.css.map */